.viewRecordsPage{
    background-color: #EDEDED;
    padding: 20px 22px 1px;
    .back {
            padding: 20px 0px 20px 0px;
            a {
                font-size: 18px;
                color: #333;
                text-decoration: none;
            }
            .icon {
                color: #d80a1e;
            }
        }
}