.riskLevel4 {
    border-radius: 50%;
    border: 1px solid #f07e2e;
    height: 25px;
    margin: 12px auto;
    width: 25px;
    font-size: 15px;
    color: white;
    line-height: 26px;
    text-align: center;
    background-color: #f07e2e;
    display: inline-block; 
}
.riskLevel3 {
    border-radius: 50%;
    border: 1px solid #7abb15;
    height: 25px;
    margin: 12px auto;
    width: 25px;
    font-size: 15px;
    color: white;
    line-height: 26px;
    text-align: center;
    background-color: #7abb15;
    display: inline-block; 
}
.riskLevel2 {
    border-radius: 50%;
    border: 1px solid #73a898;
    height: 25px;
    margin: 12px auto;
    width: 25px;
    font-size: 15px;
    color: white;
    line-height: 26px;
    text-align: center;
    background-color: #73a898;
    display: inline-block; 
}
.riskLevel1 {
    border-radius: 50%;
    border: 1px solid #6b89ad;
    height: 25px;
    margin: 12px auto;
    width: 25px;
    font-size: 15px;
    color: white;
    line-height: 26px;
    text-align: center;
    background-color: #6b89ad;
    display: inline-block; 
}

.riskLevelSkip {
    border-radius: 50%;
    border: 1px solid darkgrey;
    height: 25px;
    margin: 12px auto;
    width: 25px;
    font-size: 15px;
    color: white;
    line-height: 26px;
    text-align: center;
    background-color: darkgrey;
    display: inline-block; 
}

.floatRight{
    float:right;
}
