/********************************  Modal css  *******************************/
@charset "utf-8";
@import "../../styles/trading/tradingVariable";

.fieldDescriptionSection {
    margin-right: -10px;
    margin-top: 20px;
    padding: 20px;
    font-family: $normal;
    font-size: 14px;
    line-height: 18px;
    text-align: $left;
    background: $white;
    color: $color-6;
}
.padt {
    font-weight: $bold;
}
.padb {
    padding-bottom: $num-2;
}
.noRecode{
    color: #d3404c;
    margin: 50px 0;
    padding-left: 15px;
}

.content{
    min-height: 380px;
}