/********************************  Modal css  *******************************/
@charset "utf-8";
@import "../../../../../common/styles/trading/tradingVariable.scss";

.modal {
    position: fixed;
    z-index: 1040;
    overflow: hidden;
    top: $num-0;
    right: $num-0;
    bottom: $num-0;
    left: $num-0;
    background: rgba(0, 0, 0, 0.5);
    .modal-eject {
        position: $position-relative;
        .box {
            position: $position-absolute;
            top: 150px;
            left: 35%;
            max-width: 550px;
            padding-bottom: $num-1;
            width: 100%;
            font-size: 12px;
            background: #fff;
            .modal-top {
                padding-left: 90%;
                .close {
                    font-size: 26px;
                    cursor: pointer;
                    opacity: 1;
                    filter: alpha(opacity=1);
                }
            }
            .modal-con {
                padding: 50px 35px 20px;
                text-align: left;

                .warning-title {
                    font-size: 26px;
                    color: $color-3;
                }
                p {
                    border-bottom: $border-col;
                    padding: $num-2 $num-0 45px $num-0;
                    color: $color-3;
                }
                .p-btn {
                    margin-top: $num-2;
                    a {
                        border: $border $color-6;
                        display: $inline-block;
                        float: $right;
                        margin-left: 8px;
                        max-width: 160px;
                        min-width: 55px;
                        padding: $num-1 15px;
                        color: $color-6;
                        text-align: center;
                    }
                    a:hover {
                        text-decoration: $hidden;
                    }
                }
            }
        }
        .cancelIcon {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
        }
    }
}