.bodyBackground {
    background-color: #000;
    a {
        text-decoration: none;
    }
    .mainBackground {
        margin: 0 auto;
        padding: 20px;
        width: 1305px;
        background-color: #666;
        .productSummaryPage {
            background-color: #eeeceb;
            h4 {
                height: 80px;
                padding: 0 25px;
                line-height: 80px;
                background-color: #fff;
                position: relative;
                .title {
                    border-left: 5px solid #d80a1e;
                    padding-left: 25px;
                    font-size: 30px;
                    color: #333;
                }
            }
            h3 {
                margin: 20px 20px 0px 20px;
                height: 70px;
                border-top: 5px solid #d80a1e;
                line-height: 70px;
                background-color: #fff;
                position: relative;
                .title {
                    padding-left: 25px;
                    font-size: 24px;
                    color: #333;
                }
                .icon{
                    padding-left: 5px;
                    padding-bottom: 5px;
                    font-size: 22px;
                }
            }
            .salesGuidance {
                padding: 20px 20px 20px 0;
                font-size: 18px;
                text-align: right;
                background: #eeeceb;
                .icon {
                    font-size: 20px;
                }
            }
            .salesShow {
                padding: 0 20px;
                background: #eeeceb;
                p {
                    margin-bottom: 20px;
                    span {
                        display: block;
                    }
                    .icontit {
                        float: left;
                        width: 30px;
                        font-size: 24px;
                    }
                    .rule {
                        float: right;
                        width: 97%;
                        line-height: 22px;
                    }
                }
            }
        }
        .footer {
            bottom: 0;
            left: 9.6%;
            padding: 10px 25px;
            width: 1300px;
            font-size: 18px;
            background: #fff;
            position: fixed;
            .button {
                float: right;
                a {
                    display: inline-block;
                    margin-top: 8px;
                    padding: 15px 25px;
                }
                .save {
                    background: #d80a1e;
                    color: #fff;
                }
            }
        }
        .button {
            float: right;
            margin-top: -50px;
            font-size: 16px;
            margin-right: 15px;
            a {
                display: inline-block;
                height: 40px;
                line-height: 40px;
                text-align: center;
            }
            .save {
                color: #333333;
                border: 1px solid #333333;
                width: 145px;
                margin-right: 20px;
            }
            .finalise{	
                width: 171px;
                border: 1px solid	#DB0011;
                background-color: #DB0011;
                color: #fff;
            }
        }
        .back {
            padding: 0 20px 20px;
            a {
                font-size: 14px;
                color: #333;
            }
            .icon {
                //color: #d80a1e;
            }
        }
        .decalration{
            margin: 20px 20px;
            border-top: 1px solid #D7D8D6;
            border-bottom: 1px solid #D7D8D6;
            height: 42px;
            line-height: 42px;
            span{
                color: #333333;
                font-size: 16px;
            }
            .iconDown{
                font-size: 25px;
                float: right;
                margin-top: 10px;
                margin-right: -5px;
            }
        }
    }
}
.clearfix {
    zoom: 1;
}
.clearfix::before,
.clearfix::after {
    display: table;
    content: " ";
}
.clearfix::after {
    clear: both;
    overflow: hidden;
}

 .dropDown {
                position: absolute;
                right: 25px;
                font-size: 30px;
                color: #333;
            }