
.circleRiskLevel0{
    width:25px;
    height:25px;
    margin-left:10px;
    border-radius: 50%;
    background-color: #E6E6E6;
    display: inline-block;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    color:#fff;
    text-align: center;
    line-height: 25px;
}

.circleRiskLevel1{
    width:25px;
    height:25px;
    margin-left:10px;
    border-radius: 50%;
    background-color: #6E86AC;
    display: inline-block;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    color:#fff;
    text-align: center;
    line-height: 25px;
}
.circleRiskLevel2{
    width:25px;
    height:25px;
    margin-left:10px;
    border-radius: 50%;
    background-color: #6FA897;
    display: inline-block;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    color:#fff;
    text-align: center;
    line-height: 25px;
}
.circleRiskLevel3{
    width:25px;
    height:25px;
    margin-left:10px;
    border-radius: 50%;
    background-color: #82B864;
    display: inline-block;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    color:#fff;
    text-align: center;
    line-height: 25px;
}
.circleRiskLevel4{
    width:25px;
    height:25px;
    margin-left:10px;
    border-radius: 50%;
    background-color: #E9A115;
    display: inline-block;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    color:#fff;
    text-align: center;
    line-height: 25px;
}
.circleRiskLevel5{
    width:25px;
    height:25px;
    margin-left:10px;
    border-radius: 50%;
    background-color: #FF0303;
    display: inline-block;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    color:#fff;
    text-align: center;
    line-height: 25px;
}

.riskLevel0 {
    border-radius: 50%;
    border: 6px solid #E6E6E6;
    height: 100px;
    margin: 35px 0 15px 45px;
    width: 100px;
    font-size: 80px;
    color: #E6E6E6;
    line-height: 100px;
    text-align: center;
}

.riskLevel1 {
    border-radius: 50%;
    border: 6px solid #6E86AC;
    height: 127px;
    margin: 35px 0 15px 45px;
    width: 127px;
    font-size: 80px;
    color: #6E86AC;
    line-height: 127px;
    text-align: center;
}
.riskLevel2 {
    border-radius: 50%;
    border: 6px solid #6FA897;
    height: 127px;
    margin: 35px 0 15px 45px;
    width: 127px;
    font-size: 80px;
    color: #6FA897;
    line-height: 127px;
    text-align: center;
}
.riskLevel3 {
    border-radius: 50%;
    border: 6px solid #82B864;
    height: 127px;
    margin: 35px 15px 15px 30px;
    width: 127px;
    font-size: 80px;
    color: #82B864;
    line-height: 127px;
    text-align: center;
}
.riskLevel4 {
    border-radius: 50%;
    border: 6px solid #f07e2e;
    height: 127px;
    margin: 35px 0 15px 45px;
    width: 127px;
    font-size: 80px;
    color: #f07e2e;
    line-height: 127px;
    text-align: center;
}
.riskLevel5 {
    border-radius: 50%;
    border: 6px solid #FF0303;
    height: 100px;
    margin: 35px 0 15px 45px;
    width: 100px;
    font-size: 80px;
    color: #FF0303;
    line-height: 100px;
    text-align: center;
}