/* UI styles */
//input 
.input {
    border: 1px solid #ccc;
    height: 20px;
    padding: 12px;
    width: 200px;
}
// checkbox button
.checkboxList {
    li {
        padding: 5px 0;
        line-height: 24px;
    }
    .customCheckbox {
        float:left;
        margin-right: 10px;
        width: 22px;
        height: 22px;
        border: 1px solid #d7d8d6;
        background: #fff;
        input[type="checkbox"] {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            display: none;
            width: 100%;
            height: 100%;
            cursor: pointer;
            opacity: 0;
        }
    }
    .icon {
        margin-left: -3px;
        margin-top: -3px;
        color: #008580;
        font-size: 1.75rem;
        font-weight: normal;
    }

    .labelText {
        display: inline-block;
        padding: 2px 0;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.13;
    }
    .agree::before {
        content: "\F00A";
    }
}

// radioButton
.radioButtonLabel {
    .labelText {
        display: inline-block;
        line-height: 30px;
        padding-left: 10px;
    }
}
.radioButtonList li {
    padding: 5px 0;
}

//NumericInput
.container {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 360px;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    border: 1px #ccc solid;
    white-space: nowrap;
    background-color: #fff;
    .prefix {
        margin-right: 15px;
        font-size: 18px;
    }
}
/** DropdownRiskLevel **/
.dropdownContainer {
    width: 100%;
    max-width: 360px;
}
.dropdownBox {
    width: 100%;
    padding: 0;
    color: #333;
    background-color: #fff;
    .dropdownBoxItemList {
        width: 100%;
    }
    .dropdownBoxItem {
        border-bottom: 1px solid #d7d8d6;
        padding: 15px;
        background: #fff;
        &:hover {
            background: #ededed;
        }
        &.selected {
            color: #333;
        }
    }
    .dropdownBoxDisplayValue {
        padding: 12px 15px;
        padding-right: 62px;
        font-size: 16px;
        line-height: 1.15;
        &::after {
            position: absolute;
            right: 1;
            top: 50%;
            margin-top: -12px;
            border: none;
            border-left: 1px #929292 solid;
            display: inline-block;
            width: 44px;
            height: 24px;
            font-family: "HSBCIcon-Font";
            font-size: 24px;
            line-height: 24px;
            text-align: center;
            vertical-align: middle;
            content: "\F055";
        }
    }
}
.multiSelect {
    .dropdownContainer .dropdownBox .dropdownBoxItemList {
        width: auto;
    }
}

.scrollTabNode {
    position: relative;
    border: none;
    border-bottom: 1px solid #848484;
    background: #d7d7d5;
    padding: 20px 40px;
    margin-left: 0;
    &::after {
        position: absolute;
        right: 0;
        top: 20%;
        content: '';
        background: 1px solid #b7b7b7;
        width: 1px;
        height: 60%;
    }
    &.active {
        color: #4e4e4e;
        background-color: #fff;
        border-bottom: 1px solid #fff;
        border-top: 2px solid #db0011;
        border-left: 1px solid #848484;
        border-right: 1px solid #848484;
        padding: 17px 40px 20px 41px;
        margin-left: -1px;
        &:first-child {
            margin-left: 0;
        }
        &::after {
            background: #fff;
        }
    }
}