/* Global RGB Code */
$main-txt-clr: #333;
$primary-red: #db0011;
$dark-red: #83000a;
$white: #fff;
$pearl: #ededed;
$silver: #d7d8d6;
$pewter: #929292;
$graphite: #404040;
$black: #000;
$light-slate: #4d6474;
$slate: #3e505d;
$dark-slate: #253038;
$jade: #008580;
$dark-jade: #005e59;
$gold: #e9a115;
$antique-gold: #ba8111;
$violet: #4e3a7c;
$premier-indigo: #262362;
$sapphire: #376798;
$dark-sapphire: #003466;
$emerald: #3b7522;
$dark-emerald: #1b3e02;
