/* Global number Code */
$num-0: 0;
$num-1: 10px;
$num-2: 20px;
$num-3: 30px;
$num-4: 40px;
$num-5: 50px;
$num-10: 100px;

/* Global Unit Code */
$font-family-h: 'calibri';
$width: 100%;
$max-width: 1377px;

/* Global Position Code */
$auto: auto;
$position-relative: relative;
$position-absolute: absolute;
$left: left;
$center: center;
$right: right;
$clear: both;
$hidden: none;
$hide: hidden;

/* Global Border Code */
$normal: normal;
$bold: bold;
$border-col: 1px solid #ccc;
$border: 1px solid;

/* Global Linkage Code */
$inline-block: inline-block;
$block: block;

/* Global font size */
$font-size: 12px;

/* Global RGB Code */
$white: #fff;
$bgColor: #000;
$color-3: #333;
$color-6: #666;
$color-9: #999;
$color-c: #ccc;
$color-e6: #e6e6e6;
$red: #f00;
$green: #41965b;
$head-bgColor: #253038;
