.footerWrapper {
    padding: 28px 16px 25px;
    background-color: #000;
    .footerInner {
        margin: 0 auto;
        max-width: 1180px;
        p {
            color: #fff;
            font-size: 14px;
        }
    }
}
.black{
    background:black;
}