.ulbox {
    text-align: center;
}
.pieLegend {
    padding: 5px;
    display: inline-block;
    color: inherit;
}

.legendColorBox {
    display: inline-block;
    float: left;
    height: 15px;
    width: 15px;
}

.legendTitle {
    display: inline-block;
    margin-left: 5px;
    text-align: left;
}

.legendName {
    margin-right: 5px;
}
