.inputright{
    font-size: 25px;
    //width: 35px;
}
.icon{
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    cursor: pointer;
}
.input {
    border: 1px solid #ccc;
    height: 20px;
    padding: 12px;
    width: 200px;
}