select{
                padding-left: 15px;
                height: 40px;	
                width: 107.15px;	
                border: 1px solid #929292;	
                background-color: #FFFFFF;
                font-size: 14px;
            }