.moreVertical{

}
.productName{
    width: 165px;
    text-align: left;
    float:left;
    .productCode {
        height: 12px;
        width: 106px;
        color: #5C5C5C;
        font-size: 12px;
        line-height: 14px;
    }
}
.productNameMoreInfo {
    float:right;
    font-size:25px;
    color:darkgray;
    cursor:pointer;
}