.riskLevel {
    display: inline-block;
    width: 25px;
    height: 25px;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    line-height: 2;
    text-align: center;
    color: #fff;
}