.add{
    width:70px;
    margin:0 auto;
}
.removeProductnmuber{
    opacity: 0.3;
	color: #333333;
	font-size: 10px;
	line-height: 17px;
	text-align: center;
    float:left;
    width:10px;
    margin-left:10px;


}
.enableremoveProductnmuber{
    color:black;
    font-size: 10px;
	line-height: 10px;
	text-align: center;
    line-height: 17px;
    float:left;
    width:10px;
    cursor:pointer;
    margin-left:10px;
}
.addProductnmuber{
    border: 1px solid #929292;
    display: inline-block;
    height: 15px;
    width: 15px;
    line-height:15px;
    font-size:10px;
    text-align: center;
    background: none;

}

.addMoreProductnmuber{
    
    font-size: 10px;
    margin-left: 5px;
    line-height: 21px;
    display: inline-block;
    cursor:pointer;
}