/* UI examples styles */
.example {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid #f2f2f2;
    background: #fff;
    h2 {
        font-size: 2em;
        padding: 15px 0 10px;
        color: red;
    }
}

// button
.buttonBox {
    button {
        margin: 0 10px;
        display: inline-block;
    }
}
// notification
.notificationBox {
    width: 40%;
}
//title
.titleBox {
    width: 40%;
    background: #ededed;
    h2 {
        padding-left: 15px;
        font-size: 1.5em;
        color: #000000;
    }
}
//tooltip
.tooltipBox {
    span {
        font-size: 20pt;
    }
}
// spinner
.spinnerBox {
    width: 200px;
    a {
        color: #fff;
        border: 1px solid #3e505e;
        background-color: #3e505e;
    }
}
.sliderContainer {
    background: #333;
}

